.color-flow-bg {
  position: relative;
  z-index: 0;
  border-radius: 9999px;
  overflow: hidden;
}

.color-flow-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: repeating-linear-gradient(120deg, #297229 0%, #025002 40%);
  background-size: 200% 200%;
  animation: policeFlow 1.13s linear infinite;
  border-radius: inherit;
  /* opacity: 0.6; */
}
@keyframes policeFlow {
  0% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 10% 100%;
  }
}
