/* 1. Define the custom property for Nunito */
/* :root {
  --font-primary: "Nunito";
} */

/* 2. Apply it to the body */
body {
  font-family: var(--font-primary);
  letter-spacing: 0.05em;
}

/* Existing styles */
.gradient-bg {
  /* background: linear-gradient(135deg, #FACC15 50%, #f3d955 50%); */
  /* background: linear-gradient(135deg, #e5e4e341 50%, #edd458 40%); */
  /* background: linear-gradient(135deg, #e5e4e341 50%, #ffc800cd 40%); */
  /* background: linear-gradient(135deg, #e5e4e341 50%, #fedd59 40%); */
  background: linear-gradient(135deg, #f8f9fb 50%, #fedd59 40%);
  /* blinkit color  */
  /* background: linear-gradient(135deg, #e5e4e341 50%, #edcf58 40%);   */
  /* background: linear-gradient(135deg, #e5e4e341 00%, #d6ebcc 40%); */
  /* background: linear-gradient(to right, #a9dc92 , #368254 );  */

  /* background: linear-gradient(135deg, #e5e4e341 0%, #edd458 40%); */
}

.gradient-bg-contact {
  /* background: linear-gradient(135deg, #FACC15 50%, #f3d955 50%); */
  /* background: linear-gradient(135deg, #e5e4e341 50%, #edd458 40%); */
  /* background: linear-gradient(135deg, #e5e4e341 50%, #ffc800cd 40%); */
  /* background: linear-gradient(135deg, #fedd59 50% , #e5e4e341 40%);  ulta */
  /* blinkit color  */
  background: linear-gradient(135deg, #e5e4e341 50%, #fedd59 40%);
  /* background: linear-gradient(135deg, #e5e4e341 50%, #edcf58 40%);   */
  /* background: linear-gradient(135deg, #e5e4e341 00%, #d6ebcc 40%); */
  /* background: linear-gradient(to right, #a9dc92 , #368254 );  */

  /* background: linear-gradient(135deg, #e5e4e341 0%, #edd458 40%); */
}

/* .gradient-bg-contact {
  background: linear-gradient(135deg, #689b40f0 50%, #689b40f0 50%);
} */

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.fade-in {
  animation: fadeIn 0.6s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.price-card {
  /* background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%); */
  /* background: linear-gradient(135deg, #6f9c5a 0%, #6f9c5a 40%); */
  /* background: linear-gradient(75deg, #c6efa0 10%, #6f9c5a 80%); */
  background: linear-gradient(60deg, #a9dc92 30%, #14532d 80%);
  /* background: linear-gradient(135deg, #e5e4e341 0%, #dada80 40%); */
  /* background:linear-gradient(135deg, #e5e4e341 0%, #92d076 40%); */
  /* background: linear-gradient(135deg, #e5e4e341 1%, #AF9B60 20%); */
}

.feature-icon {
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  /* background: linear-gradient(135deg, #fecf4f 0%, #00f2fe 100%); */
}

.ombre-container {
  /* background: linear-gradient(to right, #a9dc92, #14532d);  */
  background: linear-gradient(to left, #ee9f27, #f6e08a);
  /* background: linear-gradient(to right, #d6ebcc, #14532d); */
  /* Example: purple to pink */
  /* min-height: 100vh; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* color: white; */
  /* font-size: 2em; */
  /* background: linear-gradient(60deg, #a9dc92 30%, #14532d 80%); */
}
